@using MrCMS.AI
@using MrCMS.AI.Models
@model MrCMS.Web.Admin.Models.Prompts.AddPromptModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var typeOptions = EnumHelper<PromptType>.GetOptions();
}
<form method="post" asp-controller="Prompt" asp-action="Add">
    <fieldset>
        <legend>
            Add Prompt Template
            <span class="btn-group d-inline pull-right">
                <button type="submit" class="btn-primary btn">
                    Save
                </button>
            </span>
        </legend>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Type)
            @Html.DropDownListFor(x => x.Type, typeOptions, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Type)
        </div>

        <div class="form-group mt-3">
            @Html.LabelFor(m => m.Template)
            @Html.TextAreaFor(m => m.Template, new { @class = "form-control code-enabled", rows = 5 })
        </div>
        <div class="alert alert-info" role="alert">
            <p>The prompt is a reusable piece of text that can contain variables that can have different values on every use. Supports Markdown syntax.</p>
            <hr>
            <p class="mb-0">To create a variable use the <strong>{{ name }}</strong> syntax in the prompt content.</p>
        </div>
    </fieldset>
</form>